*
!*/
!/.gitignore
!/requirements.txt
!/README.md
!/npp_assembly_language_spec.xml
!/img/**/*.png

!/asm/textures/**/*.png
!/asm/**/*.s

!/blueprints/**/*.blueprint
/blueprints/generated/**/*.blueprint

!/processorv5/**/*.py
!/test/**/*.py

!/test/assets/**/*.s
!/test/assets/**/*.trace
!/test/assets/textures/*.png

__pycache__
*.pyc